@page
@model WEB_21CDP2.Views.Group.ThongKeModel
@{
}


<!doctype html>
<html lang="en" data-bs-theme="auto">
  <head><script src="/docs/5.3/assets/js/color-modes.js"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.122.0">
    <title>Pricing example · Bootstrap v5.3</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/pricing/">



<link href="/docs/5.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
 

<div class="container py-3">
  <header>
    

    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <p class="fs-5 text-body-secondary">Tổng tiền</p>
      <h1 class="display-4 fw-normal text-body-emphasis">0 $</h1>
    </div>
  </header>

  <main>
    <div class="row row-cols-1 row-cols-md-2 mb-2 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Thu nhập</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">0<small class="text-body-secondary fw-light">VNĐ</small></h1>
            <hr class="my-4"/>
            <div class="list-unstyled mt-3 mb-4">
                <div class="row g-3">
                    <div class="col-12">
                        <label for="ThuNhapGiaoDich" class="form-label">Số tiền</label>
                        <input type="text" name="txtThuNhap" class="form-control" placeholder="nhập số tiền giao dịch"/>
                    </div>

                    <div class="col-12">
                        <label for="ThuNhapGiaoDich" class="form-label">Số tiền giao dịch</label>
                        <input type="text" name="txtThuNhap" class="form-control"/>
                    </div>

                    <div class="col-12">
                        <label for="ThuNhapGiaoDich" class="form-label">Số tiền giao dịch</label>
                        <input type="text" name="txtThuNhap" class="form-control"/>
                    </div>

                    <div class="col-12">
                        <label for="ThuNhapGiaoDich" class="form-label">Số tiền giao dịch</label>
                        <input type="text" name="txtThuNhap" class="form-control"/>
                    </div>
                </div>
            </div>
            
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">+ thêm thu nhập</button>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal">Chi tiêu</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">0<small class="text-body-secondary fw-light">VNĐ</small></h1>
            <button type="button" class="w-100 btn btn-lg btn-outline-primary">- thêm chi tiêu</button>
          </div>
        </div>
      </div>
    </div>

  </main>
    </body>
</html>

