@using Microsoft.AspNetCore.Identity
@using WEB_21CDP2.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Thiết lập tiêu đề của trang -->
    <title>@ViewData["Title"] - WEB_21CDP2</title>
    <!-- Liên kết đến các tệp CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WEB_21CDP2.styles.css" asp-append-version="true" />
    <!-- Liên kết đến font Roboto từ Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    
</head>



<body>
    <header>
        <!-- Thẻ nav và thanh điều hướng -->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <!-- Logo và link trang chủ -->
                <a class="hazi" >
                    <img src="/Images/logo.png" height="51px" width="30px" />
                </a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> MyWallet</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="Giaodich">Giao dịch</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Group" asp-action="PageTest1">Page 1</a>
                            </li>
                        }
                    </ul>
                    <!-- Partial view cho phần đăng nhập -->
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial.cshtml" />
                    </div>
                </div>
                <!-- Nút toggle cho điều hướng trên di động -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Các phần của điều hướng -->
            </div>
        </nav>
    </header>
    <!-- Phần chính của trang -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Footer -->
    <footer class="border-top footer text-muted">
        <div class="container">
            <!-- Thông tin bản quyền và liên kết đến trang Chính Sách Bảo Mật -->
            &copy; 2024 - WEB_21CDP2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Chính Sách Bảo Mật</a>
        </div>
    </footer>

    <!-- Các tệp JavaScript -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Scripts từ các phần khác -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
