@page
@model WebApplication1.Pages.clients.demoModel
@{
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background: #E5E7E9;
            padding: 0;
            margin: 0;
        }

        .container {
            width: auto;
            height: 200px;
            border-radius: 15px;
            margin: 30px;
            background: #FFFFFF;
            box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, .10);
        }

            .container h1 {
                margin: 0;
                padding: 0;
                font-family: "Roboto", sans-serif;
                font-size: 3em;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                top: 50%;
                color: #0097FF;
                transform: translateY(-50%);
            }

            .container p {
                margin: 0;
                padding: 0;
                font-family: "Roboto", sans-serif;
                font-size: 1.5em;
                text-transform: uppercase;
                text-align: center;
                position: relative;
                top: 45%;
                color: #D5D8DC;
                transform: translateY(-50%);
            }

        .frame {
            display: flex;
            margin: 0;
            padding: 0;
            min-height: 400px;
            align-items: center;
            justify-content: center;
        }

            .frame div {
                height: 400px;
                width: 600px;
                background: #FFFFFF;
                margin: 30px;
                text-align: center;
                border-radius: 15px;
                box-shadow: 0px 10px 30px 5px rgba(0, 0, 0, .10);
            }

        .invoice-table {
            margin-left: 20px;
            font-family: "Roboto", sans-serif;
            border-collapse: collapse;
            width: 25em;
            margin-left: 15%;
        }

            .invoice-table thead tr {
                border-bottom: 1px dashed gray;
            }

            .invoice-table tfoot tr {
                border-top: 1px dashed gray;
            }

            .invoice-table thead tr td {
                font-size: 16px;
                letter-spacing: 1px;
                color: gray;
                padding: 8px;
            }

            .invoice-table tfoot tr td {
                font-size: 20px;
                letter-spacing: 1px;
                color: green;
                padding: 8px;
            }

            .invoice-table body tr td {
                padding: 8px;
            }

            .invoice-table thead tr td:nth-last-child(1),
            .invoice-table tbody tr td:nth-last-child(1),
            .invoice-table tfoot tr td:nth-last-child(1) {
                text-align: right;
            }

    </style>
</head>

<body>
    <div class="container">
        <p>Tổng tiền</p>
        <h1>20.000.000 VNĐ</h1>
    </div>

    <div class="frame">
        <div>
            <table class="invoice-table" height="400" width="600">
                <thead>
                    <tr height="60">
                        <td>PRODUCT</td>
                        <td>QTY</td>
                        <td>PRICE</td>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Drink <span>(large)</span></td>
                        <td>1</td>
                        <td>2.90</td>
                    </tr>
                    <tr>
                        <td>Fries <span>(small)</span></td>
                        <td>2</td>
                        <td>5.00</td>
                    </tr>

                    <tr>
                        <td>Burger <Span>(no pickle)</Span></td>
                        <td>2</td>
                        <td>7.00</td>

                    </tr>
                <tfoot>
                    <tr height="60">
                        <td colspan="2" align="right">Total</td>
                        <td>14.90</td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div></div>
        <div></div>
    </div>
</body>

</html>
