@page
@model WebApplication1.Pages.clients.testModel
@{
}
<style>
    .desktop {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

        .desktop .overlap-wrapper {
            background-color: #ffffff;
            width: 1440px;
            height: 1024px;
        }

        .desktop .overlap {
            position: relative;
            height: 1024px;
            background-image: url(https://c.animaapp.com/8I0p70UK/img/6688436-3408840-1.png);
            background-size: cover;
            background-position: 50% 50%;
        }

        .desktop .rectangle {
            position: absolute;
            width: 500px;
            height: 500px;
            top: 262px;
            left: 470px;
            background-color: #ffffff33;
            border-radius: 10px;
            backdrop-filter: blur(25px) brightness(100%);
            -webkit-backdrop-filter: blur(25px) brightness(100%);
        }

        .desktop .login {
            position: absolute;
            width: 89px;
            height: 33px;
            top: 320px;
            left: 513px;
        }

        .desktop .email {
            position: absolute;
            width: 422px;
            height: 70px;
            top: 389px;
            left: 510px;
        }

        .desktop .text-wrapper {
            position: absolute;
            width: 119px;
            height: 30px;
            top: 0;
            left: 0;
            font-family: "Quicksand", Helvetica;
            font-weight: 500;
            color: #3d3d3d;
            font-size: 18px;
            letter-spacing: 0;
            line-height: normal;
        }

        .desktop .div {
            position: absolute;
            width: 420px;
            height: 40px;
            top: 30px;
            left: 0;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-color: #454545;
        }

        .desktop .password {
            position: absolute;
            width: 422px;
            height: 70px;
            top: 489px;
            left: 510px;
        }

        .desktop .text-wrapper-2 {
            position: absolute;
            width: 119px;
            height: 30px;
            top: 0;
            left: 1px;
            font-family: "Quicksand", Helvetica;
            font-weight: 500;
            color: #3d3d3d;
            font-size: 18px;
            letter-spacing: 0;
            line-height: normal;
        }

        .desktop .remove-red-eye {
            position: absolute;
            width: 24px;
            height: 24px;
            top: 7px;
            left: 388px;
        }

        .desktop .text-wrapper-3 {
            position: absolute;
            height: 23px;
            top: 572px;
            left: 644px;
            font-family: "Quicksand", Helvetica;
            font-weight: 500;
            color: #000000;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0;
            line-height: normal;
        }

        .desktop .group {
            position: absolute;
            width: 422px;
            height: 50px;
            top: 622px;
            left: 510px;
        }

        .desktop .overlap-group {
            position: relative;
            width: 420px;
            height: 50px;
            background-color: #003d60;
            border-radius: 10px;
        }

        .desktop .text-wrapper-4 {
            position: absolute;
            height: 23px;
            top: 13px;
            left: 182px;
            font-family: "Quicksand", Helvetica;
            font-weight: 700;
            color: #ffffff;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0;
            line-height: normal;
        }

        .desktop .don-t-have-an {
            position: absolute;
            height: 23px;
            top: 690px;
            left: 510px;
            font-family: "Quicksand", Helvetica;
            font-weight: 400;
            color: #000000;
            font-size: 18px;
            letter-spacing: 0;
            line-height: normal;
        }

        .desktop .span {
            font-weight: 500;
        }

        .desktop .text-wrapper-5 {
            font-weight: 700;
        }

        .desktop .element {
            position: absolute;
            width: 286px;
            height: 286px;
            top: 0;
            left: 577px;
            object-fit: cover;
        }
</style>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <div class="desktop">
        <div class="overlap-wrapper">
            <div class="overlap">
                <div class="rectangle"></div>
                <img class="login" src="https://c.animaapp.com/8I0p70UK/img/login.png" />
                <div class="email">
                    <div class="text-wrapper">Email address</div>
                    <div class="div"></div>
                </div>
                <div class="password">
                    <div class="text-wrapper-2">Password</div>
                    <div class="div">
                        <img class="remove-red-eye" src="https://c.animaapp.com/8I0p70UK/img/remove-red-eye.svg" />
                    </div>
                </div>
                <div class="text-wrapper-3">Forgot password?</div>
                <div class="group">
                    <div class="btn-group">
                        <div class="overlap-group"><div class="text-wrapper-4">LOGIN</div></div>
                    </div> 
                </div>
                <p class="don-t-have-an">
                    <span class="span">Don’t have an account? </span> <span class="text-wrapper-5">Sign Up</span>
                </p>
                <img class="element" src="https://c.animaapp.com/8I0p70UK/img/32142359-lgo1-preview-rev-1-1@2x.png" />
            </div>
        </div>
    </div>
</body>
</html>
